.scale-box-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}

.hour-scale {
  position: relative;
  height: 20px;
  border-right: 1px solid #ececec;
}

.hour-scale-title {
  position: absolute;
  top: -1.5rem;
  transform: translateX(-50%);
  font-size: 1rem;
}

.hour-scale:not(:last-child) {
  margin-right: 0.25rem;
}

.minute-scall {
  height: 5px;
  border-right: 1px solid #ececec;
  margin-right: 0.25rem;
}

.minute-scall-half {
  height: 12px;
}
