.progress {
  position: relative;
  height: 20px;
  background-image: linear-gradient(
    to right,
    rgb(16, 142, 233),
    rgb(135, 208, 104)
  );
}

.progress::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  animation: progress-active 2s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  content: "";
}

@keyframes progress-active {
  0% {
    width: 0;
    opacity: 0.1;
  }
  20% {
    width: 0;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
